<section class="home">
    <p style="text-align:center; color:aliceblue; margin: -11vh 0 15vh 0;">"Muestra del panel administrador de la tienda"</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <div class="card-header">
                        <img src="../../../assets/image/combop1cervesa.png" style="margin-bottom: -4%;" class="img-center img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="text-uppercase text-selection">Combos</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary btn-simple btn-selection" routerLink="/menusCombos">Seleccionar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <div class="card-header">
                        <img src="../../../assets/image/pizzas.png" style="margin-bottom: 10%;" class="img-center img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="text-uppercase text-selection">Pizzas</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success btn-simple btn-selection" routerLink="/menusPizzas">Seleccionar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-coin card-plain">
                    <div class="card-header">
                        <img src="../../../assets/image/bebidas3.png" class="img-center img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="text-uppercase text-selection">Bebidas</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info btn-simple btn-selection" routerLink="/menusBebidas">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>