.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff38;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 25%;
}

.card-header {
    margin: -50px auto 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.btn-selection {
    color: #fff;
    background-color: #ffa700;
    border-color: #ff5400;
    box-shadow: 2px 2px 5px #ff5400;
}
.btn-selection-entrega{
    color: #403e3e;
    background-color: #a4c102;
    border-color: #315403;
    box-shadow: 2px 2px 5px #127306 ;
}
.btn-selection-entrega:hover{
    background-color: #315403;
    color: white;
}
.btn-selection-cancelado{
    color: #ada8a8;
    background-color: #bb2400;
    border-color: #844209;
    box-shadow: 2px 2px 5px #730b06;
}
.btn-selection-cancelado:hover{
    border-color: #844209;
}
.btn-selection-cancelado:hover {
    background-color: #ff5400;
}

.text-titilo-primary {
    text-align: center;
    font-size: 27px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px #9a7401;
}

.id-combo {
    background-color: #90c473;
    width: 13%;
    border-radius: 50%;
    text-align: center;
    margin: -10% 1px 1px 80%;
    font-size: 25px;
}

.text-titulo {
    font-weight: bold;
    text-shadow: 1px 1px aliceblue;
}

.img_factura {
    width: 25%;
    margin: 0 auto;
}

.title_Factura {
    text-align: center;
    font-size: 27px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px #9a7401;
}

.direccion_factura {
    text-align: center;
    line-height: normal;
    color: #1ba2a2;
}

.text_factura {
    text-align: center;
    line-height: 0;
    color: #1ba2a2;
}

.title_description_factura {
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.text_description {
    vertical-align: inherit;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.text_description_text {
    vertical-align: inherit;
    color: #1ba2a2;
}
.id-combo {
    background-color: #90c473;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    margin: -10% 1px 1px 80%;
    font-size: 25px;
}